body {
  padding: 15px;
}

.form-progress-bar {
  background-color: #007bff;
  height: 100%;
}

.progress{
    width: 100%;
    background: gray;
    height: 1rem;
}

label, select, input{
        width: 100%;
        
}

.wrapper{
    width: 50%;
    display:inline;
}
